themes {
 	gruvbox-material-dark {
    text_unselected {
      background "#32302f" // bg0
      base "#d4be98" // fg0
      emphasis_0 "#d4be98" // fg0
      emphasis_1 "#d4be98" // fg0
      emphasis_2 "#d4be98" // fg0
      emphasis_3 "#c35e0a" // term_orange
    }
    text_selected {
      background "#504945" // bg3
      base "#d4be98" // fg0
      emphasis_0 "#d4be98" // fg0
      emphasis_1 "#d4be98" // fg0
      emphasis_2 "#d4be98" // fg0
      emphasis_3 "#c35e0a" // term_orange
    }
    ribbon_unselected {
      background "#665c54" // bg5
      base "#32302f" // bg0
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    ribbon_selected {
      background "#c35e0a" // term_orange
      base "#32302f" // bg0
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    table_cell_unselected {
      background "#32302f" // bg0
      base "#d4be98" // fg0
      emphasis_0 "#45707a" // term_blue
      emphasis_1 "#c35e0a" // term_orange
      emphasis_2 "#d4be98" // fg0
      emphasis_3 "#c35e0a" // term_orange
    }
    table_cell_selected {
      background "#504945" // bg3
      base "#665c54" // bg5
      emphasis_0 "#45707a" // term_blue
      emphasis_1 "#c35e0a" // term_orange
      emphasis_2 "#d4be98" // fg0
      emphasis_3 "#c35e0a" // term_orange
    }
    table_title {
      background "#32302f" // bg0
      base "#ff0000"
      emphasis_0 "#c35e0a" // term_orange
      emphasis_1 "#c35e0a" // term_orange
      emphasis_2 "#ff0000"
      emphasis_3 "#c35e0a" // term_orange
    }
    list_unselected {
      background "#32302f" // bg0
      base "#d4be98" // fg0
      emphasis_0 "#45707a" // term_blue
      emphasis_1 "#d4be98" // fg0
      emphasis_2 "#928374" // grey1
      emphasis_3 "#c35e0a" // term_orange
    }
    list_selected {
      background "#504945" // bg3
      base "#665c54" // bg5
      emphasis_0 "#45707a" // term_blue
      emphasis_1 "#d4be98" // fg0
      emphasis_2 "#928374" // grey1
      emphasis_3 "#c35e0a" // term_orange
    }
    // frame_unselected base #3c3836 bg1
    frame_selected {
      background "#32302f" // bg0
      base "#504945" // bg3
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    frame_highlight {
      background "#32302f" // bg0
      base "#665c54" // bg5
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    exit_code_success {
      background "#32302f" // bg0
      base "#6c782e" // term_green
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    exit_code_error {
      background "#32302f" // bg0
      base "#c14a4a" // term_red
      emphasis_0 "#ff0000"
      emphasis_1 "#ff0000"
      emphasis_2 "#ff0000"
      emphasis_3 "#ff0000"
    }
    multiplayer_user_colors {
      player_1 "#c14a4a" // term_red
      player_2 "#6c782e" // term_green
      player_4 "#b47109" // term_yellow
      player_5 "#45707a" // term_blue
      player_6 "#945e80" // term_purple
      player_7 "#4c7a5d" // term_aqua
      player_8 "#ea6962" // red
      player_9 "#a9b665" // green
      player_10 "#d8a657" // yellow
    }
 	}
}
