themes {
 	gruvbox-material-dark {
 		fg      "#d4be98"
 		bg      "#32302f"
 		black   "#3c3836"
 		red     "#c14a4a"
 		green   "#6c782e"
 		yellow  "#b47109"
 		blue    "#45707a"
 		magenta "#945e80"
 		cyan    "#4c7a5d"
 		white   "#928374"
 		orange  "#b47109"
 	}
}
