[submodule "vim/vim"]
	path = vim/vim
	url = git@github.com:GrzegorzKozub/vim.git
	branch = master
[submodule "nvim/nvim"]
	path = nvim/nvim
	url = git@github.com:GrzegorzKozub/nvim.git
	branch = master
[submodule "vscode/Code"]
	path = vscode/Code
	url = git@github.com:GrzegorzKozub/vscode.git
	branch = master
[submodule "azuredatastudio/azuredatastudio"]
	path = azuredatastudio/azuredatastudio
	url = git@github.com:GrzegorzKozub/azuredatastudio.git
	branch = master
