/**

!.zshrc
!.angular-config.json
!.gitconfig
!.gitignore
!.iex.exs
!.npmrc
!.tmux.conf
!.zshrc

!.aws
!.aws/config

!.config
!.config/chromium-flags.conf

!.config/keepassxc
!.config/keepassxc/keepassxc.ini

!.config/ranger
!.config/ranger/rc.conf

!.config/systemd
!.config/systemd/user
!.config/systemd/user/tmux.service

!Pictures
!Pictures/Among Trees.png
