[submodule "nvim/nvim"]
	path = nvim/nvim
	url = git@github.com:GrzegorzKozub/nvim.git
	branch = master
[submodule "vscode/Code"]
	path = vscode/Code
	url = git@github.com:GrzegorzKozub/vscode.git
	branch = master
[submodule "mpv/mpv"]
	path = mpv/mpv
	url = git@github.com:GrzegorzKozub/mpv.git
	branch = master
[submodule "yazi/yazi"]
	path = yazi/yazi
	url = git@github.com:GrzegorzKozub/yazi.git
	branch = master
[submodule "nushell/nushell"]
	path = nushell/nushell
	url = git@github.com:GrzegorzKozub/nushell.git
	branch = master
