/**

!.angular-config.json
!.dotfiles.sh
!.gitattributes
!.gitconfig
!.gitignore
!.iex.exs
!.npmrc
!.tmux.conf
!.zshrc

!.aws
!.aws/config

!.config

!.config/chromium-flags.conf

!.config/Code

!.config/keepassxc
!.config/keepassxc/keepassxc.ini

!.config/ranger
!.config/ranger/rc.conf
!.config/ranger/colorschemes
!.config/ranger/colorschemes/solarized.py

!.ecs
!.ecs/.gitkeep

!.vim

!.ssh
!.ssh/.gitkeep
