#window {
  background: #1d2021;
  color: #665c54;
  font-family: Adwaita Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#entry {
  color: #665c54;
}

#entry:selected {
  background: #1d2021;
  color: #a89984;
}

#input {
  border: none;
  background: #1d2021;
  color: #ebdbb2;
  margin: 2px;
}

#scroll {
  padding: 2px;
}

#img {
  padding: 2px 7px 2px 5px;
}

#text:selected {
  color: #a89984;
}

expander list {
  background: #1d2021;
}

