* {
  font-family: Adwaita Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background: #1d2021;
  color: #a89984;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: #1d2021;
  border: none;
  border-radius: 8px;
}

tooltip label {
  color: #a89984;
}

#workspaces {
  margin-right: 8px;
  padding: 0;
}

#workspaces button {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #665c54;
  padding: 8px 8px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active,
#workspaces button.focused {
  color: #a89984;
}

#workspaces button.urgent {
  background-color: #b47109;
  color: #ebdbb2;
}

#window {
  padding: 8px 0;
}

#tray,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#battery {
  padding: 8px 8px;
}

#tray,
#idle_inhibitor {
  margin-left: 8px;
}

#mode,
#submap {
  background-color: #b47109;
  color: #ebdbb2;
  padding: 8px 12px;
}

#tray>.needs-attention {
  background-color: #b47109;
}

#idle_inhibitor.activated {
  color: #b47109;
}

#idle_inhibitor.deactivated {
  color: #665c54;
}

#pulseaudio.muted {
  color: #665c54;
}

#network.disabled,
#network.disconnected {
  color: #665c54;
}

#bluetooth.disabled,
#bluetooth.off {
  color: #665c54;
}

#battery {
  padding-right: 16px;
}

#battery.charging {
  color: #6c782e;
}

#battery.warning:not(.charging) {
  color: #b47109;
}

#battery.critical:not(.charging) {
  color: #c14a4a;
}

