* {
  font-family: Cantarell, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background: rgba(29, 32, 33, 1);
  color: rgba(168, 153, 132, 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(29, 32, 33, 1);
  border: none;
  border-radius: 0px;
}

tooltip label {
  color: rgba(168, 153, 132, 1);
}

#workspaces button {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #665c54;
  padding: 0 10px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: rgba(168, 153, 132, 1);
}

#workspaces button.urgent {
  background-color: #b47109;
  color: rgba(29, 32, 33, 1);
}

#mode {
  background-color: #45707a;
  color: rgba(235, 219, 178, 1);
  padding: 0 10px;
}

#window {
  padding: 8px 10px;
}

#tray,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#battery {
  padding: 0 5px;
}

#tray,
#battery {
  padding-right: 15px;
}

#tray>.needs-attention {
  background-color: #b47109;
}

#idle_inhibitor.activated {
  color: #b47109;
}

#idle_inhibitor.deactivated {
  color: #665c54;
}

#pulseaudio.muted {
  color: #665c54;
}

#network.disabled,
#network.disconnected {
  color: #665c54;
}

#bluetooth.disabled,
#bluetooth.off {
  color: #665c54;
}

#battery.charging {
  color: #6c782e;
}

#battery.warning:not(.charging) {
  color: #b47109;
}

#battery.critical:not(.charging) {
  color: #c14a4a;
}
