/*

#cc241d rgba(204, 36, 29, 1) red
#98971a rgba(152, 151, 26, 1) green
#d79921 rgba(215, 153, 33, 1) yellow
#458588 rgba(69, 133, 136, 1) blue
#b16286 rgba(177, 98, 134, 1) purple
#689d6a rgba(104, 157, 106, 1) aqua
#d65d0e rgba(214, 93, 14, 1) orange

#fb4934 rgba(251, 73, 52, 1) red
#b8bb26 rgba(184, 187, 38, 1) green
#fabd2f rgba(250, 189, 47, 1) yellow
#83a598 rgba(131, 165, 152, 1) blue
#d3869b rgba(211, 134, 155, 1) purple
#8ec07c rgba(142, 192, 124, 1) aqua
#fe8019 rgba(254, 128, 25, 1) orange

#1d2021 rgba(29, 32, 33, 1) bg0_h
#282828 rgba(40, 40, 40, 1) bg0
#3c3836 rgba(60, 56, 54, 1) bg1
#514945 rgba(81, 73, 69, 1) bg2
#665c54 rgba(102, 92, 84, 1) bg3
#7c6f64 rgba(124, 111, 100, 1) bg4

#928374 rgba(146, 131, 116, 1) gray

#32302f rgba(50, 48, 47, 1) bg0_s
#a89984 rgba(168, 153, 132, 1) fg4
#bdae93 rgba(189, 174, 147, 1) fg3
#d5c4a1 rgba(213, 196, 161, 1) fg2
#ebdbb2 rgba(235, 219, 178, 1) fg1
#fbf1c7 rgba(251, 241, 199, 1) fg0

*/

* {
  font-family: MaterialDesign, Cantarell, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background: rgba(29, 32, 33, 1);
  color: rgba(168, 153, 132, 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(29, 32, 33, 1);
  border: none;
  border-radius: 8px;
}

tooltip label {
  color: rgba(168, 153, 132, 1);
}

#workspaces button {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: rgba(168, 153, 132, 1);
  padding: 0 10px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: rgba(235, 219, 178, 1);
}

#workspaces button.urgent {
  background-color: #fe8019;
}

#mode {
  background-color: #458588;
  color: rgba(235, 219, 178, 1);
  padding: 0 10px;
}

#window {
  padding: 8px 10px;
}

#tray,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#battery {
  padding: 0 5px;
}

#tray,
#battery {
  padding-right: 15px;
}

#tray>.needs-attention {
  background-color: #d79921;
}

#pulseaudio.muted {
  color: #665c54;
}

#network.disabled,
#network.disconnected {
  color: #665c54;
}

#bluetooth.disabled,
#bluetooth.off {
  color: #665c54;
}

#battery.charging,
#battery.plugged {
  color: #98971a;
}

#battery.warning:not(.charging) {
  color: #fe8019;
}

#battery.critical:not(.charging) {
  color: #fb4934;
}
