// https://github.com/zellij-org/zellij/pull/4002
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// https://github.com/dj95/zjstatus/

keybinds clear-defaults=false {
  unbind "Ctrl q"
    locked {
        bind "Ctrl x" { SwitchToMode "Normal"; }
    }
  normal {
    // unbind "Ctrl p"
    bind "Ctrl p" { SwitchToMode "pane"; }
  }
  pane {
    bind "h" { NewPane "Down"; SwitchToMode "Locked"; }
    bind "v" { NewPane "Right"; SwitchToMode "Locked"; }

    bind "Up" { MoveFocus "Up"; SwitchToMode "Locked"; }
    bind "Down" { MoveFocus "Down"; SwitchToMode "Locked"; }
    bind "Left" { MoveFocus "Left"; SwitchToMode "Locked"; }
    bind "Right" { MoveFocus "Right"; SwitchToMode "Locked"; }

    bind "Shift Left" { MovePane "Left"; }
    bind "Shift Down" { MovePane "Down"; }
    bind "Shift Up" { MovePane "Up"; }
    bind "Shift Right" { MovePane "Right"; }

    bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
  }
  // shared {
  //   bind "Enter" "Esc" { SwitchToMode "Locked"; }
  // }
}

default_layout "my"
default_mode "locked"
pane_frames false
show_release_notes false
show_startup_tips false
simplified_ui true
theme "gruvbox-material-dark"
ui {
  pane_frames {
    hide_session_name true
    rounded_corners true
  }
}

