// https://github.com/zellij-org/zellij/pull/4002
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// https://github.com/dj95/zjstatus/

keybinds clear-defaults=false {
  unbind "Ctrl b" "Ctrl p"

  pane {
    unbind "x"

    bind "Ctrl x" { SwitchToMode "Normal"; }

    // bind "Ctrl Left" "Ctrl h" { Resize "Increase Left"; }
    // bind "Ctrl Down" "Ctrl j" { Resize "Increase Down"; }
    // bind "Ctrl Up" "Ctrl k" { Resize "Increase Up"; }
    // bind "Ctrl Right" "Ctrl l" { Resize "Increase Right"; }

    bind "Shift Left" { MovePane "Left"; }
    bind "Shift Down" { MovePane "Down"; }
    bind "Shift Up" { MovePane "Up"; }
    bind "Shift Right" { MovePane "Right"; }

    bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }

    bind "f" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    bind "F" { ToggleFloatingPanes; SwitchToMode "Normal"; }
  }

  resize {
    bind "Shift Left" { Resize "Decrease Left"; }
    bind "Shift Down" { Resize "Decrease Down"; }
    bind "Shift Up" { Resize "Decrease Up"; }
    bind "Shift Right" { Resize "Decrease Right"; }
  }

  shared_except "normal" "locked" {
    bind "q" { SwitchToMode "Normal"; }
  }

  shared_except "pane" "locked" {
    bind "Ctrl x" { SwitchToMode "Pane"; }
  }
}

default_layout "my"
default_mode "normal"
pane_frames false
show_release_notes false
show_startup_tips false
simplified_ui true
theme "gruvbox-material-dark"
ui {
  pane_frames {
    hide_session_name true
    rounded_corners true
  }
}

